{% extends "base.html" %}

{% block title %} Login page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %} <!-- if there are messages -->
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<!-- # in action shows we won't redirect to any page -->
<form action="#" method="post">
    <p>Name: </p>
    <p><input type="text" name="username"></p>
    <p><input type="submit" name="Submit"></p>
</form>

{% endblock %}